@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1.nadpis,
h1.nadpis2,
p {
  font-family: 'Pacifico', cursive;
}

.background-container {
  background-image: url('img/image0_3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  text-align: center;
  background-color: peachpuff;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  border-radius: 15%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: peachpuff;
  text-decoration: none;
  color: black;
  border: 2px solid #e97e6b;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Pacifico', cursive;
}

.button:hover {
  background-color: #e97e6b;
  color: white;
}

.img2 {
  background-image: url('img/image0_6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nadpis2 {
  color: rgb(51, 161, 51);
  font-size: 5vh;
}

.odstavec_projekt {
  font-size: 3vh;
}
